---
import LanguageDropdown from "./LanguageDropdown.astro"

const { class: className = "", linkItems = [], languageItems = [["loremIpsum", "/lorem"], ["loremIpsum", "/lorem"],["loremIpsum", "/lorem"]], currentLanguage = ""} = Astro.props;
---


<nav id="navbar" class={`fixed top-0 w-full z-50 flex justify-between items-center py-4 border-b-2 bg-white border-b-gray-300 transition-shadow duration-300 ${className}`}>
  <div id="left-menu-container" class="flex-1 flex flex-col">
    <a href="." class="inline-flex items-center gap-2">
      <img src="/images/logo.webp" alt="Mikan Logo" width="32" class="bg-gray-900 rounded-lg rotate-5"/>
      <strong class="text-lg">Mikanmiru</strong>
      
      
    </a>
    <div id="mobile-settings-container" class="hidden md:hidden mt-2">
      <LanguageDropdown current={currentLanguage} items={languageItems} />
    </div>
  </div>      
    <div id="middle-menu-container" class="flex-2 hidden md:flex justify-center">
        <ul class="inline-flex gap-10">
            {linkItems.map((item:string) => <li><a href={`#${item.toLowerCase()}`} data-scroll>{item}</a></li>)}
        </ul>
    </div>
    <div id="right-menu-container" class="flex-1 hidden md:flex justify-end">
        <LanguageDropdown current={currentLanguage} items={languageItems} />
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden">
      <!-- Hamburger button -->
        <button id="mobile-button" class="p-2 border rounded">
          ☰
        </button>
        
        <!-- Dropdown links (hidden by default) -->
        <div id="mobile-menu" class="hidden mt-2">
            <ul class="flex flex-col gap-4">
                {linkItems.map((item:string) => <li><a href={`#${item.toLowerCase()}`} data-scroll>{item}</a></li>)}
            </ul>
        </div>
    </div>

    <!-- <div id="mobile-menu" class="absolute right-0 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none">
        <ul class="flex flex-col gap-4">
            {linkItems.map((item:string) => <li><a href={`#${item.toLowerCase()}`} data-scroll>{item}</a></li>)}
        </ul>
    </div> -->
    

</nav>

<script>
    const navbar = document.getElementById('navbar')!;
  
    function handleScroll() {
      if (window.scrollY > 0) {
        navbar.classList.add('shadow-md');
      } else {
        navbar.classList.remove('shadow-md');
      }
    }
  
    window.addEventListener('scroll', handleScroll);
    handleScroll();
    
    const mobileButton = document.getElementById("mobile-button")!;
    const mobileMenu = document.getElementById("mobile-menu")!;
    const mobileSettings = document.getElementById("mobile-settings-container")!;

    mobileButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
        mobileSettings.classList.toggle("hidden");
    });
</script>