---
const { class: className = "", linkItems = [] } = Astro.props;
---


<nav id="navbar" class={`fixed top-0 w-full z-50 flex justify-between items-center py-4 border-b-2 bg-white border-b-gray-300 transition-shadow duration-300 ${className}`}>
    <a href="." class="inline-flex items-center gap-2">
        <img src="/images/logo.webp" alt="Mikan Logo" width="32" class="bg-gray-900 rounded-lg rotate-5"/>
        <strong class="text-lg">Mikanmiru</strong>
    </a>
    
    <div id="right-menu-container" class="hidden md:inline">
        <ul class="inline-flex gap-10">
            {linkItems.map((item:string) => <li><a href={`#${item.toLowerCase()}`} data-scroll>{item}</a></li>)}
        </ul>
    </div>

    <!-- Mobile menu -->
    <div class="md:hidden">
      <!-- Hamburger button -->
        <button id="menu-btn" class="p-2 border rounded">
          ☰
        </button>

        <!-- Dropdown links (hidden by default) -->
        <div id="mobile-menu" class="hidden mt-2">
            <ul class="flex flex-col gap-4">
                {linkItems.map((item:string) => <li><a href={`#${item.toLowerCase()}`} data-scroll>{item}</a></li>)}
            </ul>
        </div>
    </div>
</nav>

<script>
    const navbar = document.getElementById('navbar');
  
    function handleScroll() {
      if (window.scrollY > 0) {
        navbar.classList.add('shadow-md');
      } else {
        navbar.classList.remove('shadow-md');
      }
    }
  
    window.addEventListener('scroll', handleScroll);
    handleScroll();

    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");

    menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
    });
</script>